/*----------- Colors -----------*/
.bg-col-transparent{
    background-color: rgba(0, 0, 0, 0)!important;
}
.col-primary{
    color: #19A638;
}
.bg-col-primary{
    background-color: #19A638;
}
.col-primary-dark{
    color: #218838;
}
.bg-col-primary-dark{
    background-color: #218838;
}
.col-secondary{
    color: #21282e;
}
.bg-col-secondary{
    background-color: #21282e;
}
.col-secondary-light{
    color: #2e3f4e;
}
.bg-col-secondary-light{
    background-color: #2e3f4e;
}
.col-danger {
    color: #dc3545;
}
.bg-col-danger {
    background-color: #dc3545;
}
.col-danger-dark {
    color: #f7283d;
}
.bg-col-danger-dark {
    background-color: #f7283d;
}
.col-warning {
    color: #ffc107!important;
}
.bg-col-warning {
    background-color: #ffc107!important;
}
.col-warning-dark {
    color: #ca9803!important;
}
.bg-col-warning-dark {
    background-color: #ca9803!important;
}
.bg-col-primary-opacity70{
    background-color: hsla(39, 100%, 49%, 0.70);
}
.bg-col-primary-opacity80{
    background-color: hsla(39, 100%, 49%, 0.8);
}
.bg-col-primary-opacity90{
    background-color: hsla(39, 100%, 49%, 0.9);
}
.col-white{
    color: white;
}
.bg-col-white{
    background-color: white;
}
.col-black{
    color: black;
}
.bg-col-black{
    background-color: black;
}
.col-white-gray{
    color: #d2d8df;
}
.bg-col-white-gray{
    background-color: rgb(239, 240, 243);
}
.col-gray-light{
    color: #d6d6d6;
}
.bg-col-gray-light{
    background-color: #d6d6d6;
}
.col-gray-dark{
    color: #737989;
}
.bg-col-gray-dark{
    background-color: #737989;
}
.col-orange{
    color: #FFAE00;
}
.bg-col-orange{
    background-color: #FFAE00;
}
/*------------ End-Colors --------------*/



/* -------------- Size -------------- */
.font-8 { font-size: 8px; }
.font-9 { font-size: 9px; }
.font-10 { font-size: 10px; }
.font-11 { font-size: 11px; }
.font-12 { font-size: 12px; }
.font-13 { font-size: 13px; }
.font-14 { font-size: 14px; }
.font-18 { font-size: 18px; }
.font-16 { font-size: 16px; }
.font-20 { font-size: 20px; }
.font-25 { font-size: 25px; }
.font-30 { font-size: 30px; }
.font-35 { font-size: 35px; }
.font-40 { font-size: 40px; }

.m-pad-4{
    padding: 4px;
}
.my-border-light {
    border: 1px solid rgba(253, 251, 251, 0.3);
}
.my-border-bottom-slim {
    border-bottom: 1px solid rgb(218, 217, 217);
}
/* ------------ End-Size ------------ */


/* -------------- Borders --------------- */
.m-square-border-1 {
    border: 1px solid #d6d6d6;
}
/* ----------- End - Borders ------------ */





